<a href="https://colab.research.google.com/github/Sri-addanki-5/python/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a program that takes a word W as input and prints "Hello" followed by the given word W.
name=input()
print("Hello "+name)

srikanth
Hello srikanth

In [ ]:
#String Repetition
# Write a program to print the given input word three times in a single line separated by spaces
word = input()
message = (word + ' ') * 3
print(message)

srikanth
srikanth srikanth srikanth

In [ ]:
a = input()
a = int(a)
b = input()
b = int(b)
result = a+b
print(result)

10
20
30

In [ ]:
word = input()
n = input()
n = int(n)
print(word[n])

chocolate
8
e

In [ ]:
length = input()
breadth = input()
length = int(length)
breadth = int(breadth)
area_of_rectangle = length*breadth
print(area_of_rectangle)

10
8
80

In [ ]:
#perimeter of rectangle
length = input()
breadth = input()
length = int(input())
breadth = int(input())
sum_of_two_sides = length+breadth
perimeter_of_rectangle = 2*sum_of_two_sides
print(perimeter_of_rectangle)

10
40
3
3
12

In [ ]:
first_str = input()
snd_str = input()
first_str_part = first_str[:3]
second_str_part = snd_str[:3]
are_both_same = first_str_part == second_str_part
print(are_both_same)

srikanth
srikanth
True

In [ ]:
a =input()
b = input()
a = int(a)
b = int(b)
is_both_positive = a > 0 and b > 0
is_one_greater = a>5 or b > 5
result = is_both_positive and is_one_greater
print(result)

10
20
True

In [ ]:
n = int(input())
counter = 1
while counter <=n:
    print(counter)
    counter = counter +1

5
1
2
3
4
5

In [ ]:
m = int(input())
n = int(input())
for number in range(m,n+1):
  print(number)

10
12
10
11
12

In [ ]:
m = int(input())
n = int(input())
for number in range(m):
  print("* " *n)

6
4
* * * *
* * * *
* * * *
* * * *
* * * *
* * * *

In [ ]:
 m = int(input())
 for number in range(1,m+1):
   print("* "*number)

4
*
* *
* * *
* * * *

In [ ]:
n = int(input())
total = 0
for i in range(n):
  m = int(input())
  total = total+m
print(total)

5
4
3
2
1
2
12

In [ ]:
a = input()
length = len(a)
b = a[0]
for i in range(1,length):
  b = b + "-" +a[i]
print(b)

srikanth
s-r-i-k-a-n-t-h

In [ ]:
date = input()
date = date.replace("-","/")
print(date)

20-03-2020
20/03/2020

In [ ]:
password = input()
contains_digit = False
for character in password:
  is_digit =character.isdigit()
  if is_digit:
    contains_digit = True
if contains_digit:  
  print("valid password")
else:
  print("not valid")

20
valid password

In [ ]:
word = input()
modified = ""
for char in word:
  uppercase = char.upper()
  if uppercase == char:
    modified += char.lower()
  else:
    modified +=char.upper()
print(modified)

sriKanth
SRIkANTH

In [ ]:
# Factorial
n = int(input())
factorial = 1
for i in range(1,n+1):
  factorial = factorial * i
print(factorial)

5
120

In [ ]:
m = int(input())
n = int(input())
total = 0
for i in range(m,n+1):
  total += i
print(total)

2
6
20

In [ ]:
n = int(input())
total = 0
for i in range(1,n+1):
  if i%2==1:
    total += i
print(total)

10
25

In [ ]:
#sum of numbers divisible by T
t = int(input())
m = int(input())
n = int(input())
total = 0
for number in range(m,n+1):
  if number%t ==0:
    total +=number
print(total)

2
5
9
14

In [ ]:
#sum of squares
n = int(input())
total = 0
for i in range(1,n+1):
  total += ()
print(total)

In [ ]:
n=int(input())
total=0
for i in range(1,n+1):
    total=total+(i*i)
print(total)

5
55

In [ ]:
#sum of average 10 numbers
total = 0
for i in range(10):
  number = int(input())
  total +=number
average = total/10
print(total)
print(average)

5
5
5
5
5
5
5
5
5
5
50
5.0

In [ ]:
number = input()
total =0
for digit in number:
  total = total+int(digit)
print(total)

5
5

In [ ]:
a = int(input())
for i in range(1,11):
  print(str(a)+"*"+str(i)+"="+str(i*a))

3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [ ]:
#Reverse string
a = input()
rever = ""
for i in a:
  rever = i+rever
print(rever)

srikanth
htnakirs

In [ ]:
#palindrome
n = input()
n = n.lower()
reverse_n = ""
for char in n:
  reverse_n = char+reverse_n
if n == reverse_n:
  print("palindrome")
else:
  print("not a palindrome")

Srikanth
not a palindrome

In [ ]:
#Greatest among N numbers
n = int(input())
first_input = int(input())
greatest_number = first_input
for i in range(n-1):
  num = int(input())
  if num > greatest_number:
    greatest_number = num
print(greatest_number)

5
97
43
54
65
43
97

In [ ]:
#smallest number
n = int(input())
first_number = int(input())
smallest_number = first_number
for i in range(n-1):
  num = int(input())
  if num < smallest_number:
    smallest_number = num
print(smallest_number)

5
97
43
54
65
43
43

In [ ]:
#factors of numbers
n = int(input())
for i in range(1,n+1):
  if n%i ==0:
    print(i)

6
1
2
3
6

In [ ]:
#sum odf all factors
n = int(input())
total = 0
for i in range(1,n+1):
  if n%i ==0:
    total = total + i
print(total)

6
12

In [ ]:
# perfect number
n = int(input())
total = 0
for i in range(1,n):
  if n%i == 0:
    total+=i
if total == n:
  print("perfect number")
else:
  print("not perfect number")

21
not perfect number

In [ ]:
# armstrong number
n = input()
length = len(n)
total = 0
for digit in n:
  total = total+(int(digit)**length)
if total ==int(n):
  print("Armstrong number")
else:
  print("Not an armstrong number")

154
Not an armstrong number

In [ ]:
#OOPS

In [ ]:
#CAR
class Car:
    def __init__(self,color,max_speed,acceleration,tyre_friction):
        self.color = color
        self.max_speed=max_speed
        self.acceleration=acceleration
        self.tyre_friction=tyre_friction
        
    # def default_test():
car=Car(color="Red",max_speed=250,acceleration=10,tyre_friction=3)
print(car.color)
print(car.max_speed)
print(car.acceleration)
print(car.tyre_friction)

Red
250
10
3

In [ ]:
#Car-2

In [ ]:
class Car:
  def __init__(self,color,max_speed,acceleration,tyre_friction):
    self.color = color
    self.max_speed = max_speed
    self.acceleration = acceleration
    self.tyre_friction = tyre_friction
    self.is_engine_started = False
  def start_engine(self):
    self.is_engine_started = True
  def stop_engine(self):
    self.is_engine_started = False 
car = Car(color = 'Red',max_speed = 250,acceleration = 10,tyre_friction = 3)
print(car.color)
print(car.max_speed)
print(car.acceleration)
print(car.tyre_friction)
car.start_engine()
print(car.is_engine_started)
car.stop_engine()
print(car.is_engine_started)

Red
250
10
3
True
False

In [ ]:
# Car-3

In [ ]:
class Car:
  def __init__(self,color,max_speed,acceleration,tyre_friction):
    self.color = color
    self.max_speed = max_speed
    self.acceleration = acceleration
    self.tyre_friction = tyre_friction
    self.is_engine_started = False
    self.current_speed = 0
  def start_engine(self):
    self.is_engine_started = True
  def stop_engine(self):
    self.is_engine_started = False
  def accelerate(self):
    if not self.is_engine_started:
      print("Car has not started yet")
    else:
      self.current_speed += self.acceleration
      if self.current_speed > self.max_speed:
        self.current_speed =self.max_speed 
car = Car(color = "Red",max_speed = 250, acceleration = 10, tyre_friction = 3)
car.accelerate()
print(car.current_speed)
car.start_engine()
print(car.current_speed)
car.accelerate()
print(car.current_speed)
car.accelerate()
print(car.current_speed)
car.accelerate()
car.accelerate()
car.accelerate()
print(car.current_speed)

Car has not started yet
0
0
10
20
50

In [ ]:
# A car and Truck incomplete classes

In [ ]:
class Car:
  def __init__(self,color,max_speed,acceleration,tyre_friction):
    self.color = color
    self.max_speed = max_speed
    self.acceleration = acceleration
    self.tyre_friction = tyre_friction
    self.is_engine_started = False
    self.current_speed = 0
  def start_engine(self):
    self.is_engine_started = True
  def stop_engine(self):
    self.is_engine_started = False
  def acceleration(self):
    if not self.is_engine_started:
      print("car not started yet")
    else:
      self.current_speed += self.acceleration
      if slef.current_speed > self.max_speed:
        self.current_speed = self.max_speed
  def apply_brakes(self):
    self.current_speed -= self.tyre_friction
    if self.current_speed < 0:
      self.current_speed = 0
  def sound_horn(self):
    if self.is_engine_started:
      print("Beep Beep")
    else:
      print("Car has not started yet")
class Truck(Car):
  def __init__(self,color,max_speed,acceleration,tyre_friction,max_cargo_weight):
    super().__init__(color,max_speed,acceleration,tyre_friction)
    self.max_cargo_weight = max_cargo_weight
    self.load = 0
  def load_cargo(self,cargo_weight):
    if self.is_engine_started:
      pribt("cannot load cargo during motion")
    elif cargo_weight + self.load > self.max_cargo_weight:
      print("cannot load cargo morethan max limit:{}".format(self.max_cargo_weight))
    else:
      self.load += cargo_weight
  def unload_cargo(self,cargo_weight):
    if self.is_engine_started:
      print("cannot unload cargo during motion")
    else:
      self.load -= cargo_weight
      if self.load < 0:
        self.load = 0
  def sound_horn (self):
    if self.is_engine_started:
      print("honk honk")
    else:
      print("car has not started yet")
truck = Truck(color = "red",max_speed = 250,acceleration = 10,tyre_friction = 3,max_cargo_weight=100)
print(truck.is_engine_started)
truck.load_cargo(cargo_weight=50)
print(truck.load)
truck.unload_cargo(cargo_weight=25)
print(truck.load)
truck.unload_cargo(cargo_weight = 70)
print(truck.load)
truck.unload_cargo(cargo_weight=120)
print(truck.load)  
truck.sound_horn()
truck.stop_engine()
truck.sound_horn()

False
50
25
0
0
car has not started yet
car has not started yet

In [ ]:
#car 4
class Car:
  def __init__(self,color,max_speed,acceleration,tyre_friction):
    self.color = color
    self.max_speed = max_speed
    self.acceleration = acceleration
    self.tyre_friction = tyre_friction
    self.is_engine_started = False
    self.current_speed = 0
  def start_engine(self):
    self.is_engine_started = True
  def stop_engine(self):
    self.is_engine_started = True
  def accelerate(self):
    if not self.is_engine_started:
      print("car has not started yet")
    else:
      self.current_speed +=self.acceleration
      if self.current_speed > self.max_speed:
          self.current_speed = self.max_speed  
car = Car("Red",max_speed = 50,acceleration = 10,tyre_friction = 3)
car.start_engine()
print(car.current_speed)
car.stop_engine()
car.accelerate()
print(car.current_speed)

0
10

In [ ]:
# #parsing datetime
# from datetime import datetime

# date = input()
# date_string = "%d %b %Y"
# datetime_object = datetime.strptime(date,date_string)
# print(datetime_object)

In [ ]:
#lists

In [ ]:
player = ["Rose",183,148,123.64,False]
print(player)

['Rose', 183, 148, 123.64, False]

In [ ]:
#list concatination
num = [20,30,20,40,100]
n = int(input())
sri_1 = num+[n]
sri_2 = [n]+num
print(sri_1)
print(sri_2)

10
[20, 30, 20, 40, 100, 10]
[10, 20, 30, 20, 40, 100]

In [ ]:
#convert string to list

['s', 'r', 'i', 'k', 'a', 'n', 't', 'h']

In [ ]:
programing_language = ["python","java","rubey","machin_learning","c","c++"]
n = int(input())
for i in range(n):
  index = int(input())
  print(programing_language[index])

3
4
c
3
machin_learning
2
rubey

In [ ]:
#list repetation
m = int(input())
n = int(input())
list_a = [m]*n
print(list_a)

5
4
[5, 5, 5, 5]

In [ ]:
# Greater than N
num_list = [4,6,45,34,54,65,76,46,34,31,78,96]
n = int(input())
num_rum = []
for i in num_list:
  if i > n:
    num_rum += [i]
print(num_rum)

56
[65, 76, 78, 96]

In [ ]:
#create print_list
n = int(input())
list_1 = []
for i in range(n):
  value = input()
  list_1 += [value]
print(list_1)

3
srikanth
ramesh
krishanweni
['srikanth', 'ramesh', 'krishanweni']

In [ ]:
n = int(input())
list_1 = []
list_2 = []
for i in range(n):
  value = input()
  list_1 += (value)
for n in list_1:
  if n ==list_1:
    list_2 += n
print(list_2)    


print(list_1)

2
srikanth
ravikanth
[]
['s', 'r', 'i', 'k', 'a', 'n', 't', 'h', 'r', 'a', 'v', 'i', 'k', 'a', 'n', 't', 'h']

In [ ]:
# reverse order
n = int(input())
list_a = []
for i in range(n):
  value = input()
  list_a +=[value]
for i in range(n):
  print(list_a[n-i-1])

3
srikanth
ravikanth
madhuri
madhuri
ravikanth
srikanth

In [ ]:
# list concatination
n=int(input())
list_a = []
for i in range(n):
    value = input()
    list_a += [value]
    new_list=list_a[:3] + list_a[n-3:]
print(new_list)

3
anjali
ravi
akbar
['anjali', 'ravi', 'akbar', 'anjali', 'ravi', 'akbar']

In [ ]:
# functions

In [ ]:
#splite the sentence
n = input()
word_list = n.split()
sri = ""
for word in word_list:
  pass
  if word == "srikanth":
    sri += word
print(sri)    

print(word)

srikanth ravikanth madhuri
srikanth
madhuri

In [ ]:
#sum of list elements
n=input()
num_list=n.split()
total=0
for n in num_list:
    total=total+int(n)
print(total)

5
5

In [ ]:
strin = input()
spli = strin.split()
sri = []
for n in spli:
  sri += [n[::-1]]
reverse_order =" ".join(sri)
print(reverse_order)

srikanth
htnakirs

In [ ]:
def wishes(name):
  wish = "welcome "+ name
  return wish
a = input()
wishes(a)

srikanth

'welcome srikanth'

In [ ]:
#multiplay with three
def multiply_with_three(num):
   number = num*3
   print(number)
n = int(input())
multiply_with_three(n)

5
15

In [ ]:
# divisible by 7
def divisible_by_7(num):
  number = num/7
  print(number)
n = int(input())
divisible_by_7(n)

14
2.0

In [ ]:
# perimeter of square
def perimeter(four):
  result = four*4
  print(result)
a = int(input())
perimeter(a)

3
12

In [ ]:
# add two numbers
def sum_of_two(num1,num2):
  value = num1+num2
  print(value)
a = int(input())
b = int(input())
sum_of_two(a,b)

5
8
13

In [ ]:
# second character in the word
def word_second(num):
  character = num[1]
  return character
a = input()
word_second(a)

srikanth

'r'

In [ ]:
# indexing
def indexing(arg1,arg2):
  character = arg1[arg2]
  return character
a = input()
index = int(input())
indexing(a,index)

srikanth
3

'k'

In [ ]:
# printing message
def name(arg1,arg2):
  character = arg1 + " is " +str(arg2)+" years old"
  return character
a = input()
b = int(input())
name(a,b)

srikanth
25

'srikanth is 25 years old'

In [ ]:
#number of upper and lowercase letters
def upper_lower(arg):
  count_uppercase = 0
  count_lowercase = 0
  for char in arg:
    if char.upper() == char:
      count_uppercase += 1
    else:
      count_lowercase += 1
  print(count_uppercase)
  print(count_lowercase)
a = input()
upper_lower(a)

SriKantH
3
5

In [ ]:
# list of squares
def get_list(string_a):
    list_a = string_a.split(',')
    len_list_a = len(list_a)
    for i in range(len_list_a):
        list_a[i] = int(list_a[i])**2
    return list_a


string_a = input()
numbers_list = get_list(string_a)
print(numbers_list)

1,2,3,4
[1, 4, 9, 16]

In [ ]:
# So the output should be
# [1, 2, 5]
#input=5
#append 5
#insert 0,2
#append 1
#sort
#print
n = int(input())

nums_list = []
for i in range(n):
    command = input().split()
    if command[0] == 'insert':
        index = int(command[1])
        value = int(command[2])
        nums_list.insert(index, value)
    elif command[0] == 'append':
        value = int(command[1])
        nums_list.append(value)
    elif command[0] == 'pop':
        nums_list.pop()
    elif command[0] == "remove":
        value = int(command[1])
        nums_list.remove(value)
    elif command[0] == "sort":
        nums_list.sort()
    elif command[0] == "print":
        print(nums_list)

2
3
2

In [ ]:
# Team points
def calculateLeagues(wins,draws,losses):
  wins_points = wins*4
  draws_points = draws*2
  losses_points = losses*-1
  total_points = wins_points+losses_points+draws_points
  return total_points
statistics = input().split(",")
wins = int(input())
draws = int(input())
losses = int(input())
total_points = calculateLeagues(wins,draws,losses)
print(total_points)

4,1,2
4
2
1
19

In [ ]:
# speed meter
def get_speed_status(speed):
  if (speed >= 60 and speed<80):
    msg = "Normal"
  elif (speed>=60) and (speed<80):
    msg = "Warning"
  else:
    msg = "Over speed"
  return msg
speed = int(input())
a = get_speed_status(speed)
print(a)

75
Normal

In [ ]:
# Wather Reporter
def get_weather_report(temp):
  if temp < 22:
    report = "Cold"
  elif (temp >= 22) and (temp<35):
    report = "Warm"
  else:
    report = "Hot"
  return report
temp = int(input())
a = get_weather_report(temp)
print(a)

37
Hot

In [ ]:
# Discount
def discount_for_shoping(bill):
  if (bill > 250) and (bill <= 450):
    discount = "5%"
  elif (bill >= 450) and (bill <= 850):
    discount = "10%"
  else:
    discount = "15%"
  return discount
bill = int(input())
so = discount_for_shoping(bill)
print(so)

345
5%

In [ ]:
# calculte bill
def calculate_bill(amount):
  if amount <500:
    bill = amount-(amount * 0.05)
  elif (amount >= 500) and (amount < 2500):
    bill = amount-(amount*0.01)
  else:
    bill = amount-(amount*0.2)
  bill = round(bill,3)
  return bill
amount = int(input())
a = calculate_bill(amount)
print(a)

1500
1485.0

In [ ]:
#Fiz buzz
def fizz_buzz(number):
    is_divisible_by_3= (number%3)==0
    is_divisible_by_5=(number%5)==0
    is_divisible_by_both = is_divisible_by_3 and is_divisible_by_5
    
    if is_divisible_by_both:
        msg = "FizzBuzz"
    elif is_divisible_by_3:
        msg= "Fizz"
    elif is_divisible_by_5:
        msg="Buzz"
    else:
        msg=number
    return msg
    
number = int(input())
result = fizz_buzz(number)
print(result)

20
Buzz

In [1]:
n = int(input())
count = 1
while (count <= n):
  print(count)
  count += 1

3
1
2
3

In [3]:
# integers
n = int(input())
count = 2
while count<=6:
  print(count)
  count+=1

6
2
3
4
5
6

In [8]:
# triangle
n = int(input())
count = 4
while count <= n:
  print("*"*count)
  if count <= 0:
    break
  count -=1

4
****
***
**
*

In [9]:
# solid square
n = int(input())
count = 0
while count <= n:
  print("* "*n)
  count +=1

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [13]:
# solid rectangle
row = int(input())
col = int(input())
count = 0
while count <= row:
  print("* "*col
        )
  count +=1

4
6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [17]:
row = int(input())
col = int(input())
count = 0
while count <= row:
  print("* "*col)
  if count == 4:
    break
  count +=1

5
6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [18]:
# sum of natural numbers
num = int(input())
sum = 0
count = 0
while count <= num:
  sum += count
  count +=1
print(sum)

6
21

In [19]:
n = int(input())
count = 1
while count <= n:
  print("* "*count)
  count+=1

3
*
* *
* * *

In [21]:
#Read N Inputs
num = int(input())
count = 0
while count <= num:
  n = int(input())
  print(n)
  count +=1

3
23
23
34
34
48
48
56
56

In [22]:
# sum of the given numbers
n = int(input())
total = 0
for number in range(n):
  m = int(input())
  total +=m
print(total)

5
3
2
1
3
2
11

In [26]:
n = input()
len_of_a = len(n)
b = n[0]
for i in range(1,len_of_a):
  b = b + '-' +n[i]
print(b)

srikanth
s-r-i-k-a-n-t-h

In [27]:
date = input()
date = date.replace("-","/")
print(date)

"27-22-2021"
"27/22/2021"

In [29]:
word = input()
lower_case = word.lower()
upper_case = word.upper()
print(lower_case)
print(upper_case)

SRIkanth
srikanth
SRIKANTH

In [32]:
# valid password
password=input()
contains_digit=False
for character in password:
    is_digit=character.isdigit()
    
    if is_digit:
        contains_digit=True
if contains_digit:
    print("Valid Password")
else:
    print("Invalid Password")

sri123
Valid Password