<a href="https://colab.research.google.com/github/Sri-addanki-5/python/blob/main/Python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists

In [2]:
items = "Rose",148,183,123.64,False
print(list(items))

['Rose', 148, 183, 123.64, False]

In [9]:
val = [10,20,30,40,50]
num = int(input())
num_val = [num]+val
num_val_1 = val+[num]
print(num_val)
print(num_val_1)

20
[20, 10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 20]

In [10]:
#convert string to list
val = input()
valume = list(val)
print(valume)

Python
['P', 'y', 't', 'h', 'o', 'n']

In [11]:
# List indexing
color_list = ["Red","Orange","White","Blue","Pink","yellow","Yellet"]
index = int(input())
val = color_list[index]
print(val)

3
Blue

In [17]:
# list index
programming_languages_list = ["Python", "Java", "Ruby", "C", "C++", "Go", "R", "JavaScript", "Swift", "PHP", "Kotlin", "Perl"]
n = int(input())
for i in range(n):
  index = int(input())
  print(programming_languages_list[index])

2
4
C++
5
Go

In [18]:
m = int(input())
n = int(input())
val = [m]*n
print(val)

5
4
[5, 5, 5, 5]

In [22]:
# Greater than N
num_list = [1, 6, 32, 93, 71, -20, 30, -90, 50]
n = int(input())
val = []
for i in num_list:
  if i > n:
    val.append(i)
print(val)

50
[93, 71]

In [23]:
# Create & Print list
num = int(input())
lis = []
for i in range(num):
  val = input()
  lis.append(val)
print(lis)

5
sri
Tiger
Cinema
5.5
20
['sri', 'Tiger', 'Cinema', '5.5', '20']

In [25]:
# Reverse order
n = int(input())
val_list = []
for i in range(n):
  val = input()
  val_list =  [val] + val_list
print(val_list)

8
Anjali
Ravi
Akbar
Suresh
Gopal
Latha
mohan
Ashok
['Ashok', 'mohan', 'Latha', 'Gopal', 'Suresh', 'Akbar', 'Ravi', 'Anjali']

In [33]:
n = int(input())
val_a = []
for i in range(n):
  val_list = input()
  val_a += [val_list]
  val = val_a[:3]+val_a[n-3:]
print(val)

5
Anjali
Ravi
Akbar
Latha
mohan
['Anjali', 'Ravi', 'Akbar', 'Akbar', 'Latha', 'mohan']

In [35]:
#Split sentence
n = input()
val = n.split()
for i in val:
  print(i)

Banana Apple Pomegranate Straberry Grapes Orange
Banana
Apple
Pomegranate
Straberry
Grapes
Orange

In [38]:
# list reverse
n = input()
val = n.split()
v = val[::-1]
print(v)

banana apple orange grapes
['grapes', 'orange', 'apple', 'banana']

In [46]:
# sum of list of elements
m = input()
n = m.split()
val = 0

for i in n:
  val += int(i)
print(val)

2 5 10 -15 3
5